<!DOCTYPE html>
<html lang="es">
{{#partial "title"}}
  <title>Panel de Control - Reporte de Consumo</title>
{{/partial}}
{{> partials/head.hbs}}
<body>
  {{#partial "links"}}
    <li class="nav-item active">
      <a class="nav-link" href="/admin/reporte-de-consumo">Reporte de Consumo</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/admin/alta-de-dispositivo">Alta de Dispositivos</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/logout">Salir</a>
    </li>
  {{/partial}}
  {{> partials/nav.hbs}}
  <header>
    <h1>Reporte de Consumo</h1>
      {{#each clientes}}
            {{nombre}}
            {{apellido}}
      {{/each}}
    {{!-- TODO: Mostrar algun reporte de la entrega anterior --}}
  </header>
</body>
</html>